<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".MainActivity"
                  android:exported="true">
            <!-- intent filters if any -->
        </activity>

        <receiver android:name=".MyReceiver"
                  android:exported="false">
            <!-- intent filters if any -->
        </receiver>
    </application>
</manifest>